<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saltwater Intrusion Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imgs/logo.svg') }}" type="image/svg+xml">
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body>
    <!-- Header with Navigation Bar -->
    <header>
        <div class="logo-container">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='imgs/logo.svg') }}" alt="Logo" class="logo">
            </a>
            <span class="title">Saltwater Intrusion</span>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('project') }}">Our Project</a></li>
                <li><a href="{{ url_for('analysis') }}">Analysis</a></li>
                <li><a href="#contact" class="contact-btn">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- Analysis Section -->
    <section class="analysis-section">
        <h2 class="analysis-title">Interactive Map Analysis</h2>
        <div id="analysis-map" class="analysis-map"></div>
    </section>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>